.countries {
    .countries-box .countries-box-list:nth-of-type(even) {
        padding-top: 60px;

        @include media-breakpoint-down(lg) {
            padding-top: 0px;
        }
        .countries-border {
            &::before {
                position: absolute;
                top: 0;
                left: -32px;
                content: "";
                width: 2px;
                height: 25px;
                background-color: $primary;
            }
        }
    }
}